#home {
    width: 100%;
    height: 100vh;
    background: url("/media/home-background.png") top center;
    background-size: cover;
    position: relative;
  }
  #home:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #home .home-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  #home h3 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 26px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
  }
  #home h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  #home h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 24px;
  }
  #home .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  #home .btn-get-started:hover {
    background: #e43c5c;
    border: 2px solid #e43c5c;
  }
  #home .home-button{
    padding-bottom: 20px;
  }
  input[type=submit]{
      background-color: black;
  }
  @media (min-width: 1024px) {
    #home {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #home h3 {
      font-size: 22px;
    }
    #home h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #home h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  @media (max-height: 500px) {
    #home {
      height: 150vh;
    }
  }