{% load static %} {% get_media_prefix as MEDIA_URL %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/homeImage.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    
    <section id="home" class="d-flex align-items-center">
      
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        <div class="left-box">
          <div class="icon-box">
            <h4 class="title">Encode</h4>
            <br />
            <form action="encodeImage" method="post" enctype="multipart/form-data">
              {%csrf_token%} 
              <!-- {{reqPixel}}<br/>{{totalPixel}} -->
              Upload your image which you want to hide:
              <div class="input-group mb-3">
                <input type="file" name="imageToHide" class="form-control" id="inputGroupFile02" required/>
              </div>
              {%if request.session.messageError1 %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg><strong>{{request.session.messageError1}}</strong> 
              </div>
              {%endif%}  
              Upload your image for Encoding:
              <div class="input-group mb-3">
                <input type="file" name="hideImage" class="form-control" id="inputGroupFile02" required/>
              </div>
              <br/>
              <div class="d-grid gap-2 col-12 mx-auto">
                <input class="btn btn-primary" type="submit" value="Encode" />
              </div>
            </form>
            <br/>
            <div class="d-grid gap-4 col-12 mx-auto"><button class="btn btn-dark"  onclick="myFunc()" >Back</button></div>
          </div>
        </div>

        <div class="right-box">
          <div class="icon-box">
            <h4 class="title">Decode</h4>
            <br />
            <form action="decodeImage" method="post" enctype="multipart/form-data">
              {%csrf_token%} Upload your image for Decoding:
              <div class="input-group mb-3">
                <input type="file" name="decFile" class="form-control" id="inputGroupFile02" name="myfile" required/>
              </div>
              <br/><br/><br/><br/><br/>
              <div class="d-grid gap-2 col-12 mx-auto">
                <input class="btn btn-primary" type="submit" value="Decode" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script>
      function myFunc() {
          window.location.href = "/";
      }
      </script>
  </body>
</html>
{%endblock%}
