{%block content%}{%endblock%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 align="center">Image Steganogaphy</h1>
    <form action="text" method="post">{%csrf_token%}

        <input type="submit" value="Hide text in image">
    </form>
    
    <br/>
    <form action="image" method="post">{%csrf_token%}
        <input type="submit" value="Hide image in image"></form>
</body>
</html>